name: Containers

on: 
  workflow_dispatch:
  push:
    paths-ignore:
      - '.github/workflows/*'
  pull_request:
    paths-ignore:
      - '.github/workflows/*'

permissions:
  checks: write
  actions: read
  contents: read

jobs:
  build:
    runs-on: gtest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v3
    - name: make
      run: make
    - name: test of Arry
      run: ./arrygtests
    - name: test of List
      run: ./listgtests
    - name: make clean
      run: make clean
